<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>-</title>
   
    <script>
      // 全局变量配置
      window.APP_CONFIG = {
        isAdmin: false,
        version: '1.0.0',
        environment: 'development',
      
      }
    </script>
   {$zhaomu_cloud_template|raw}
</head>
<body>
  <div id="hlwidc-zhaomu-cloud"></div>
</body>
</html>